/* CSS Document */
p 
{
    font-family: Arial;
    color: black;
}

 h2 
{
    font-family: Arial;
    color: black;
	font-size: 20px;
}

h1 
{
    font-family: Arial;
    color: white;
	background-color: #FBE1E1;
}

h1 {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}


 
body {
  background-color: #FFFFFF;
}

img { 
   border:5px solid #FBE1E1;
}

a {
color: black;
}

a:link {
color: black;
}
a:visited {
color: black;
}
a:hover {
color: blue;
}

.btn-primary {
	color: black;
	background-color: #FBE1E1;
	border-color: #f2f2f2;
	font-weight: 100;
}
.btn-primary:hover {
	background-color: #000000;
	border-color: #FBE1E1;
	
}

h2, h3 {
  font-family: "Times New Roman", Times, serif;
}


	
		
		
		
		
		
		
	